<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115598666574-03q7akhfsi7f1jhs3ri0k0tme8lu6b7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115598666574-03q7akhfsi7f1jhs3ri0k0tme8lu6b7c</string>
	<key>API_KEY</key>
	<string>AIzaSyCwI48ZSGlrWjl-97kQgCS-Cc41NP03wog</string>
	<key>GCM_SENDER_ID</key>
	<string>115598666574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MostafaEhab.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-33b44</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-33b44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115598666574:ios:828365b5ed7e0bb34a4c1f</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-33b44.firebaseio.com</string>
</dict>
</plist>